:root {
    --black: #020202;
    --green: #226F54;
    --blue1: #0D324D;
    --blue2: #74b3ce;
    --white: #ffffff;
}

body {
    font-family: sans-serif;
}


/* comienzo-header */

header {
    background-color: var(--blue1);
    color: var(--white);
}

.icons a i {
    color: var(--white);
    padding-left: 10px;
}

.icons a i:hover {
    transform: scale(1.3);
    transition: 300ms;
}

.container .size {
    width: 300px;
    height: 300px;
    border-radius: 400px;
}


/* fin-header */


/* comienzo-section-skills */

.section-skills {
    background-color: var(--blue2);
}


/* fin-section-skills */